<!--A Design by Jatin Mahajan
Author: Jatin Mahajan
Author URL: soon to be updated
-->
<!DOCTYPE html>
<html>
<head>
<title>Jatin Website</title>
</head>
<body>
	<meta th:fragment="includes">

	<link th:href="@{/resources/css/animsition.min.css}" rel="stylesheet"
		type="text/css"></link>

	<link th:href="@{/resources/css/bootstrap.css}" rel="stylesheet"
		type="text/css"></link>
	<link th:href="@{/resources/css/flexslider.css}" rel="stylesheet"
		type="text/css"></link>
	<link th:href="@{/resources/css/font-awesome.min.css}" rel="stylesheet"
		type="text/css"></link>

	<link th:href="@{/resources/css/googleapi.css}" rel="stylesheet"
		type="text/css"></link>

	<link th:href="@{/resources/css/heading.css}" rel="stylesheet"
		type="text/css"></link>

	<link th:href="@{/resources/css/jquery.mCustomScrollbar.css}"
		rel="stylesheet" type="text/css"></link>

	<link th:href="@{/resources/css/style.css}" rel="stylesheet"
		type="text/css"></link>




	</meta>
	<meta th:fragment="scriptinclude">
	<!--//theme-style-->

<script th:src="@{/resources/js/jquery-1.10.2.min.js}"></script>
	<script th:src="@{/resources/js/animsition.min.js}"></script>
	<script th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script th:src="@{/resources/js/custom.js}"></script>
	<script th:src="@{/resources/js/heading.js}"></script>
	<script th:src="@{/resources/js/imagesloaded.js}"></script>
	<script th:src="@{/resources/js/jquery.flexslider.js}"></script>

	<script th:src="@{/resources/js/jquery.mCustomScrollbar.concat.min.js}"></script>

	<script th:src="@{/resources/js/jquery.min.js}"></script>
	<script th:src="@{/resources/js/masonry-3.1.4.js}"></script>
	<script th:src="@{/resources/js/masonry.filter.js}"></script>

	</meta>
</body>
</html>